<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/recipe.css">
    <link rel="stylesheet" href="../css/navigation.css">
</head>

<body>
    <nav class="nav">
        <a href="../views/start.html"><img src="../img/logo.svg" alt="logo" class="nav__img"></a>
        <ul class="list">
            <li class="listItem"><a href="../views/start.html" class="listLink">Home</a></li>
            <li class="listItem"><a href="../views/welcome.html" class="listLink">About Us</a></li>
            <li class="listItem"><a href="#" class="listLink">Recipe</a></li>
            <li class="listItem"><a href="#" class="listLink">Team</a></li>
            <li class="listItem"><a href="#" class="listLink">Contact</a></li>
        </ul>
        <section class="iconContainer">
            <a href="https://www.facebook.com/" target="_blank" class="iconLink"><img src="../img/nav icon/fb.svg"
                    alt="facebook icon" class="icon"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="../img/nav icon/ig.svg" alt="instagram icon"
                    class="icon"></a>
            <a href="#"><img src="../img/nav icon/options.svg" alt="options icon" class="icon"></a>
        </section>
    </nav>
    <section class="section">
        <div class="section__filter">
            <h2>- Recipes -</h2>
            <form>
                <input type="text" name="search" placeholder="Search.." class="section__searchBar">
            </form>
            <fieldset>
                <legend>Without:</legend>
                <ul>
                    <li>
                        <label>
                            <input type="checkbox" name="Without meat">meat

                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="Without sugar">sugar
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="Without lactose">lactose
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="Without salt">salt
                        </label>
                    </li>
                </ul>
            </fieldset>

            <fieldset>
                <legend>Up to:</legend>
                <ul>
                    <li>
                        <label>
                            <input type="radio" name="favouriteSinger" value="badach">100 kcal
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="favouriteSinger" value="timberlake">250 kcal
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="favouriteSinger" value="timberlake">300 kcal
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="favouriteSinger" value="timberlake">350 kcal
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="favouriteSinger" value="timberlake">400 kcal
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="favouriteSinger" value="timberlake">450 kcal
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="favouriteSinger" value="timberlake">500 kcal
                        </label>
                    </li>
                </ul>
            </fieldset>
            <div>
                <button>Filter</button>
                <button>Add recipe</button>
            </div>

        </div>
    </section>
</body>

</html>