<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/recipe.css">
    <link rel="stylesheet" href="../css/navigation.css">
</head>

<body>
    <nav class="nav">
        <a href="../views/start.html"><img src="../img/logo.svg" alt="logo" class="nav__img"></a>
        <ul class="list">
            <li class="listItem"><a href="../views/start.html" class="listLink">Home</a></li>
            <li class="listItem"><a href="../views/welcome.html" class="listLink">About Us</a></li>
            <li class="listItem"><a href="#" class="listLink">Recipe</a></li>
            <li class="listItem"><a href="#" class="listLink">Team</a></li>
            <li class="listItem"><a href="#" class="listLink">Contact</a></li>
        </ul>
        <section class="iconContainer">
            <a href="https://www.facebook.com/" target="_blank" class="iconLink"><img src="../img/nav icon/fb.svg"
                    alt="facebook icon" class="icon"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="../img/nav icon/ig.svg" alt="instagram icon"
                    class="icon"></a>
            <a href="#"><img src="../img/nav icon/options.svg" alt="options icon" class="icon"></a>
        </section>
    </nav>
    <section class="section">
        <div class="section__filter">
            <h2 class="section__headerFilter">- Recipes -</h2>
            <form class="section__serach">
                <input type="text" name="search" placeholder="Search.." class="section__searchBar">
            </form>

            <fieldset class="section__filter--without">
                <h3 class="section__headerFieldset">Without:</h3>
                <ul class="section__list--without">
                    <li class="section__listItem">
                        <label class="section__label">
                            <input type="checkbox" name="Without meat" class="section__listItem--without">meat

                        </label>
                    </li>
                    <li class="section__listItem">
                        <label class="section__label">
                            <input type="checkbox" name="Without sugar" class="section__listItem--without">sugar
                        </label>
                    </li>
                    <li class="section__listItem">
                        <label class="section__label">
                            <input type="checkbox" name="Without lactose" class="section__listItem--without">lactose
                        </label>
                    </li>
                    <li class="section__listItem">
                        <label class="section__label">
                            <input type="checkbox" name="Without salt" class="section__listItem--without">salt
                        </label>
                    </li>
                </ul>
            </fieldset>

            <fieldset class="section__filter--upTo">
                <h3 class="section__headerFieldset">Up to:</h3>
                <ul class="section__list--upTo">
                    <li class="section__listItem">
                        <label class="section__label">
                            <input type="radio" name="favouriteSinger" value="badach"
                                class="section__listItem--upTo">100 kcal
                        </label>
                    </li>
                    <li class="section__listItem">
                        <label class="section__label">
                            <input type="radio" name="favouriteSinger" value="timberlake"
                                class="section__listItem--upTo">250 kcal
                        </label>
                    </li>
                    <li class="section__listItem">
                        <label class="section__label">
                            <input type="radio" name="favouriteSinger" value="timberlake"
                                class="section__listItem--upTo">300 kcal
                        </label>
                    </li>
                    <li class="section__listItem">
                        <label class="section__label">
                            <input type="radio" name="favouriteSinger" value="timberlake"
                                class="section__listItem--upTo">350 kcal
                        </label>
                    </li>
                    <li class="section__listItem">
                        <label class="section__label">
                            <input type="radio" name="favouriteSinger" value="timberlake"
                                class="section__listItem--upTo">400 kcal
                        </label>
                    </li>
                    <li class="section__listItem">
                        <label class="section__label">
                            <input type="radio" name="favouriteSinger" value="timberlake"
                                class="section__listItem--upTo">450 kcal
                        </label>
                    </li>
                    <li class="section__listItem">
                        <label class="section__label">
                            <input type="radio" name="favouriteSinger" value="timberlake"
                                class="section__listItem--upTo">500 kcal
                        </label>
                    </li>
                </ul>
            </fieldset>
            <div class="section__buttonsContainer">
                <button class="section__button">Filter</button>
                <button class="section__button">Add recipe</button>
            </div>
        </div>
        <div class="section__recipes">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
        </div>
    </section>
</body>

</html>