<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/start.css">
    <link rel="stylesheet" href="../css/navigation.css">
</head>

<body>
    <main class="main">
        <nav class="nav">
            <a href="../views/start.html"><img src="../img/logo.svg" alt="logo" class="nav__img"></a>
            <ul class="list">
                <li class="listItem"><a href="../views/start.html" class="listLink">Home</a></li>
                <li class="listItem"><a href="../views/welcome.html" class="listLink">About Us</a></li>
                <li class="listItem"><a href="../views/recipe.html" class="listLink">Recipe</a></li>
                <li class="listItem"><a href="../views/team.html" class="listLink">Team</a></li>
                <li class="listItem"><a href="../views/contant.html" class="listLink">Contact</a></li>
            </ul>
            <section class="iconContainer">
                <a href="https://www.facebook.com/" target="_blank" class="iconLink"><img src="../img/nav icon/fb.svg"
                        alt="facebook icon" class="icon"></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="../img/nav icon/ig.svg"
                        alt="instagram icon" class="icon"></a>
                <a href="#"><img src="../img/nav icon/options.svg" alt="options icon" class="icon"></a>
            </section>
        </nav>
        <div class="buttonContainer">
            <button class="button">Make a decision</button>
        </div>
    </main>
</body>

</html>