<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/welcome.css">
    <link rel="stylesheet" href="../css/navigation.css">
</head>

<body>
    <header>
        <nav class="nav">
            <a href="../views/start.html"><img src="../img/logo.svg" alt="logo" class="nav__img"></a>
            <ul class="list">
                <li class="listItem"><a href="../views/start.html" class="listLink">Home</a></li>
                <li class="listItem"><a href="#" class="listLink">About Us</a></li>
                <li class="listItem"><a href="../views/recipe.html" class="listLink">Recipe</a></li>
                <li class="listItem"><a href="#" class="listLink">Team</a></li>
                <li class="listItem"><a href="#" class="listLink">Contact</a></li>
            </ul>
            <section class="iconContainer">
                <a href="https://www.facebook.com/" target="_blank" class="iconLink"><img src="../img/nav icon/fb.svg"
                        alt="facebook icon" class="icon"></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="../img/nav icon/ig.svg"
                        alt="instagram icon" class="icon"></a>
                <a href="#"><img src="../img/nav icon/options.svg" alt="options icon" class="icon"></a>
            </section>
        </nav>
    </header>
    <section class="section">
        <p class="section__paragraph">It is born in your head
            think you are coming in here alone. You think to yourself that
            it is only you that you will not find yourself.
            You're really wrong. There are others here too.
            You make one team. You get here
            support from coaches. Like in soccer or
            other sport. They will guide you as
            team to victory. Remember only one thing -
            it is your DECISION.
        </p>
        <div class="section__imageContainer">
            <img src="../img/team.png" alt="team with trainer" class="section__image">
        </div>
    </section>
</body>

</html>