html {
    box-sizing: border-box;
    font-family: 'Rockwell Nova', Courier, monospace;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.logOutLink {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.logOutLink:hover {
    color: red;
}

.navigation__item {
    list-style-type: none;
}