.buttonContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.section__filter {
    background-image: url(../img/cookDesk.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    position: relative;
    max-width: 250px;
    width: 100%;
    height: calc(100vh - 125px);
    margin-top: 125px;
    z-index: 0;
}

.section__filter::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #020000A6;
    z-index: -1;
}

.section__filterMobile {
    display: none;
}

.section__searchBar {
    max-width: 230px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url(../img/searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 3px 8px 40px;
    border-radius: 25px;
}

.section__legend {
    padding: 10px;
    text-align: left;
}

.section__headerFilter {
    margin: 10px;
}

.section__filter--without, .section__filter--upTo {
    border: none;
}

.section__list--without, .section__list--upTo {
    padding: 0;
    text-align: center;
}

.section__filter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section__listItem {
    list-style: none;
    margin: 5px;
    text-align: justify;
    padding: 0 25%;
    font-size: 1.1em;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}

.section__headerFieldset {
    margin: 0;
}

.section__button {
    width: 80%;
    margin: 5px;
    padding: 10px 15px;
    background-color: #00000067;
    border: none;
    color: white;
    border-radius: 25px;
}

.section__button:hover {
    background-color: #000000b9;
    cursor: pointer;
}

.section__recipes {
    margin-top: 125px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;


}

.section__recipe {
    max-width: 30%;
    width: 100%;
    max-height: 25%;
    padding: 25px;
    margin-bottom: 13%;
}

.section__recipeImage {
    max-width: 100%;
}

.section__recipeName {
    text-align: center;
}

.section__recipeDescription {
    text-align: center;
}

.hamburgerContainer {
    display: none;
}

.buttonMobileSection {
    display: none;
}

@media (max-width:767px) {
    .hamburgerContainer {
        display: block;
    }
    .buttonMobileSection {
        display: block;
    }
    .section {
        flex-direction: column;
    }
    .section__filter {
        display: none;
        position: fixed;
    }
    .section__recipes {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: 25px;
    }
    .section__recipe {
        align-self: center;
        max-width: 100%;
        margin-bottom: 80%;
    }
    .buttonsSection {
        display: flex;
        max-height: 100px;
        margin-top: 125px;
        justify-content: space-around;
    }
    .recipeButton {
        background: none;
        border: 1px solid #707070;
        border-radius: 25px;
        padding: 10px 35px;
    }
    .section__filterMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        background: rgba(0, 0, 0, 0.857);
        color: white;
        transform: translateX(100%);
        transition: 1s;
        height: 100vh;
        width: 100%;
        padding: 10px;
        padding: 0;
        text-align: center;
        z-index: 1;
    }
    .visibleSection {
        transform: translateX(0%);
    }
    .section__list--without {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .section__listItem {
        padding: 0;
        text-align: center;
        font-size: 1.2em;
        margin: 0;
    }
    .section__button {
        border: 1px solid #707070;
    }
    .section__headerFieldset {
        margin: 10px;
    }
}