.buttonContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.section__filter {
    background-image: url(../img/cookDesk.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    position: relative;
    max-width: 300px;
    width: 100%;
    height: calc(100vh - 125px);
    margin-top: 125px;
    z-index: 0;
}

.section__filter::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #020000A6;
    z-index: -1;
}

.section__searchBar {
    max-width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(../img/searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border-radius: 25px;
}