html, body {
    height: 100%;
    color: white;
    font-family: Rockwell Nova, 'Times New Roman', Times, serif;
}

.main {
    background-image: url(../img/jump.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    overflow-y: hidden;
}

.section__buttons {
    display: flex;
}

.section__login{
    background-color: #FFFFFF2E;
    border-radius: 45px;
    padding-bottom: 10px;
}

.main__div {
    background-color: rgba(0, 0, 0, 0.541);
    height: 100%;
    display: flex;
    justify-content: center;
}

.section {
    display: flex;
    align-items: center;
}

.section__form {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.section__login {
    width: 100%;
}

.section__logoImg {
    width: 60%;
}



.section__text {
    margin-bottom: 50px;
    font-size: 28px;
}

a{
    margin-left: 35%;
}

strong {
    text-transform: uppercase;
}

.section__input {
    background: none;
    border: none;
    border-bottom: 4px solid white;
    margin: 25px;
    padding: 5px;
    font-size: 24px;
    color: white;
}

.section__input::placeholder {
    color: white;
}

.sections__buttons {
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.section__button {
    background-color: #000000AB;
    font-size: 18px;
    border: none;
    color: white;
    border-radius: 35px;
    padding: 15px 50px;
    font-weight: bold;
    margin: 10px;
}

.section__image {
    width: 70%;
}

.no-valid{
    border: 3px solid red;
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 0.2em red;
}



@media (max-width: 767px) {
    .section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .section__image {
        width: 100%;
    }
    .section__text {
        margin: 0;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .section__loginForm {
        padding: 2px;
    }
    .section__form {
        width: 100%;
    }
    .section__input {
        background: none;
        border: none;
        border-bottom: 2px solid white;
        margin: 15px;
        padding: 5px;
        font-size: 16px;
        color: white;
    }
    .section__buttons {
        display: flex;
        flex-direction: column;
    }
    .section__button {
        margin: 5px;
        font-size: 14px;
        padding: 15px 20px;
    }
    a{
        margin-left: 0;
    }
}

