.showRecipe {
    background-color: rgba(0, 0, 0, 0.378);
    width: 60%;
    height: 60%;
    border-radius: 50px;
    margin: 15% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p, div {
    text-align: center;
}

@media (max-width:767px) {
    .inputName, .inputDescription, .addPhoto {
        max-width: 250px;
        width: 100%;
        text-align: center;
    }
    .showRecipe {
        width: 90%;
        height: 90%;
        margin: 5% auto;
    }
}