html, body {
    height: 100%;
}

main {
    background-image: url(../img/run.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    font: normal normal normal 22px/29px Rockwell Nova;
}

.nav {
    position: fixed;
    padding: 0 40px;
    top: 0;
    right: 0;
    background: #020000A6;
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img {
    width: 160px;
    height: 144px;
}

.list {
    display: flex;
    padding: 0;
}

.listItem {
    margin-right: 30px;
    list-style: none;
}

.listLink {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 5px;
}

.listLink:hover {
    border-bottom: 1px solid white;
}

.icon {
    margin: 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: scale(1.3);
}

.buttonContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    text-align: center;
    padding: 30px 45px;
    border-radius: 45px;
    font-weight: normal;
    font-size: 34px;
    color: #FFFFFF;
    background: #000000A6;
    border: none;
}

.button:hover {
    cursor: pointer;
    background: #0000006c;
}