.section__team {
    margin: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.section__teamHeader {
    font-size: 3em;
}

.images__container {
    display: flex;
    margin-top: 50px;
}

.imageTeam {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.image__container {
    text-align: center;
    margin: 20px;
}

.button__imageNext {
    background: none;
    border: none;
}

.button__imageNext:hover {
    cursor: pointer;
}

.button__container {
    display: flex;
    align-self: center;
}

.nextButton {
    display: flex;
    width: 36px;
    color: #707070;
    border-radius: 100%;
    text-align: center;
    align-self: center;
}

.rotate {
    transform: rotate(180deg);
}

.hamburgerContainer {
    display: none;
}

@media (max-width:767px) {
    .image__container {
        display: none;
    }
    .image__containerForMobile {
        display: block;
        margin: 0;
    }
    .section__teamHeader {
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 2em;
        margin-bottom: 10%;
    }
    .section__team {
        margin: 0;
        margin-top: 40%;
    }
    .images__container {
        margin-top: 20px;
    }
    .imageTeam {
        width: 100%;
    }
    .button__imageNext {
        padding: 20px;
    }
}