.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    height: 100vh;
}

.section__paragraph {
    max-width: 35%;
    text-align: center;
    font-size: 1.5em;
}

.section__imageContainer {
    max-width: 45%;
}

.section__image {
    max-width: 100%;
}

@media (max-width: 767px) {
    .section {
        flex-direction: column;
        justify-content: flex-start;
    }
    .section__paragraph {
        max-width: 100%;
        padding: 15px;
        margin-top: 50px;
        font-size: 1.4em;
    }
    .section__imageContainer {
        max-width: 90%;
    }
}